<!DOCTYPE html>
<title>zervPlatform</title>

<body>
    <div class="container-fluid" style="padding-right:0px;padding-left:0px">
        <div class="form-group col-sm-9 col-xs-10 col-xs-offset-1 col-sm-offset-3">
            <div class="from-group col-sm-8 col-sm-offset-2  col-xs-12">
				<label class="center f20">
					<strong>Welcome to the ZERV Marketplace</strong>
				</label>
			</div>
			<div class="col-sm-10 col-xs-12 col-sm-offset-1" style="margin-top:30px">
					<div class="col-sm-3 col-xs-12">
						<img style="height:150px;width:150px;float:left" src="../cr_assets/images/crlogo.jpg" alt="image">
					</div>
					<div class="col-sm-4 col-xs-12">
						<label class="f16"><strong>What is the ZERV marketplace ?</strong></label>
						<p style="text-align:left;">ZERV marketplace is a platform to transact with businesses across the ammunition supply chain.The mission is to connect buyers and sellers in a frictionless and integrated fashion to facilitate relationships and end to end commerce activities across the globe.</p>
					</div>
			</div>
			<div class="col-sm-10 col-xs-12 no-padding col-sm-offset-1">
				<div class="col-sm-10 col-sm-offset-2 col-xs-12 " style="margin-top:30px">
					<label class="f16"><strong>What can i do here ?</strong></label>
				</div>
				<div class="col-sm-12 col-xs-12"  style="margin-top:15px">
					<div class="col-sm-offset-1">
						<div class="col-sm-4 ">
							<div>
								<label class="f15"><strong>Sell products</strong></label>
							</div>
							<div>
								<p>With the option to list specific inventory or general selling interests you will increase sales due to presence here</p>
							</div>
						</div>
						<div class="col-sm-3">
							<img style="height:70px;width:70px;" src="../cr_assets/images/bullets.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-offset-1">
						<div class="col-sm-4">
							<div>
								<label class="f15"><strong>Buy products</strong></label>
							</div>
							<div>
								<label>Set up alerts so that you will know when all your favorite items are for sale.No more endless searches - the matches will come to you!</label>
							</div>
						</div>
						<div class="col-sm-3">
							<img style="height:70px;width:70px;" src="../cr_assets/images/cart.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-offset-1">
						<div class="col-sm-4">
							<div>
								<label class="f15"><strong>Negotiate with trading partners</strong></label>
							</div>
							<div>
								<label>With the ability to easily negotiate on specific terms or products you'll always get the best deal </label>
							</div>
						</div>
						<div class="col-sm-3">
							<img style="height:70px;width:70px;" src="../cr_assets/images/patnerhand.jpg" alt="image">
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-offset-1">
						<div class="col-sm-4">
							<div>
								<label class="f15"><strong>Manage and track orders</strong></label>
							</div>
							<div>
								<label>Keep tabs on your sales and orders to ensure that you always know where your products are</label>
							</div>
						</div>
						<div class="col-sm-3">
							<img style="height:70px;width:70px;" src="../cr_assets/images/clock.png" alt="image">
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-offset-1">
						<div class="col-sm-4">
							<div>
								<label class="f15"><strong>Trace the supply chain</strong></label>
							</div>
							<div>
								<label>You can track the entire supply chain for every product on the platform.If there's ever any issues you can trace it back to the exact sources and identify what went wrong</label>
							</div>
						</div>
						<div class="col-sm-3">
							<img style="height:70px;width:70px;" src="../cr_assets/images/trace1.png" alt="image">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-9 col-xs-10 col-xs-offset-1 col-sm-offset-3">	
			<div class="col-sm-10 col-sm-offset-2 col-xs-12" style="margin-top:50px">
				<label class="f20"><strong>Sell on the ZERV Marketplace</strong></label>
			</div>
			<div class="col-sm-9 col-xs-12" style="margin-top:20px">
				<label>The selling eperience on the ZERV marketplace is simple and flexible.Post your listings today to get started!</label>
			</div>
			<div class="col-sm-12"  style="margin-top:10px">
				<div class="col-sm-2 col-xs-12">
					<div>
						<label class="fa fa-bullhorn" style="font-size:65px;color:black"></label>
					</div>
					<div>
						<label class="f15"><strong>1.Identity selling interests</strong></label>
					</div>
					<div>
						<label>lorem ipsum dolor sit</label>
					</div>
				</div>
				<div class="col-sm-2 col-xs-12">
					<div>
						<img style="height:70px;width:70px;" src="../cr_assets/images/alert1.png" alt="image">
					</div>
					<div>
						<label class="f15"><strong>2.Find opportunities</strong></label>
					</div>
					<div>
						<label>lorem ipsum dolor sit</label>
					</div>
				</div>
				<div class="col-sm-2 col-xs-12">
					<div>
						<img style="height:70px;width:70px;" src="../cr_assets/images/negotiate.png" alt="image">
					</div>
					<div>
						<label class="f15"><strong>3.Negotiate</strong></label>
					</div>
					<div>
						<label>lorem ipsum dolor sit</label>
					</div>
				</div>
				<div class="col-sm-2 col-xs-12">
					<div>
						<img style="height:70px;width:70px;" src="../cr_assets/images/transact.png" alt="image">
					</div>
					<div>
						<label class="f15"><strong>4.Transact</strong></label>
					</div>
					<div>
						<label>lorem ipsum dolor sit</label>
					</div>
				</div>
			</div>	
			<div class="col-sm-12"  style="margin-top:30px">
				<div class="col-sm-offset-3 form-group col-xs-12">
					<a type="button" ng-model="values.selsmetStarted" id="selsmetStarted" class="btn btn-info" href="{{hostname}}#/salesOpportunities_Listings">GET STARTED</a>
				</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 col-xs-12" style="margin-top:50px">
				<label class=" f20"><strong>Buy on the ZERV Marketplace</strong></label>
			</div>
			<div class="col-sm-9 col-xs-12" style="margin-top:20px">
				<label>The selling eperience on the ZERV marketplace is simple and flexible.Post your interests to get started! </label>
			</div>
			<div class="col-xs-12">
				<div class="col-sm-12" style="margin-top:10px">
					<div class="col-sm-2 col-xs-12">
						<div>
							<label class="fa fa-bullhorn" style="font-size:65px;color:black"></label>
						</div>
						<div>
							<label class="f15"><strong>1.Identity selling interests</strong></label>
						</div>
						<div>
							<label>lorem ipsum dolor sit</label>
						</div>
					</div>
					<div class="col-sm-2 col-xs-12">
						<div>
							<img style="height:70px;width:70px;" src="../cr_assets/images/alert1.png" alt="image">
						</div>
						<div>
							<label class="f15"><strong>2.Find opportunities</strong></label>
						</div>
						<div>
							<label>lorem ipsum dolor sit</label>
						</div>
					</div>
					<div class="col-sm-2 col-xs-12">
						<div>
							<img style="height:70px;width:70px;" src="../cr_assets/images/negotiate.png" alt="image">
						</div>
						<div>
							<label class="f15"><strong>3.Negotiate</strong></label>
						</div>
						<div>
							<label>lorem ipsum dolor sit</label>
						</div>
					</div>
					<div class="col-sm-2 col-xs-12">
						<div>
							<img style="height:70px;width:70px;" src="../cr_assets/images/transact.png" alt="image">
						</div>
						<div>
							<label class="f15"><strong>4.Transact</strong></label>
						</div>
						<div>
							<label>lorem ipsum dolor sit</label>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12" style="margin-top:30px">
					<div class="col-sm-offset-3 form-group col-xs-12">
						<a type="button" ng-model="values.buyGetStarted" id="buyGetStarted" class="btn btn-info" href="{{hostname}}#/buyingOpportunities_Listings">GET STARTED</a>
					</div>
				</div>
			</div>
        </div>
       
    </div>
</body>