<!DOCTYPE html>
<title>ZervPlatform</title>
<style>
.tex-alig-mar{
    margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 250px;
  margin-left: 210px;
   
}
.tex-alig_center{
   text-align: center;
}
</style>
<body> 
<form name="login" ng-submit = "submit()">
  <div class="container-fluid text-center ">
      <div class="form-group text-left">
           <div class = "col-sm-12">
               <div class="form-group col-xs-12 col-sm-12" style="margin-top:8%;">                
                   <div class="form-group col-xs-12 f14 col-sm-8 col-sm-offset-2">
                       <div class = "col-sm-6 col-xs-12 tex-alig_center col-sm-offset-3 border_cus_login tex-alig-mar" >
                           <h2 class="col-sm-12 ">To be developed. </h2>
                           <h2 class ="col-sm-12"> Redirect to <a href="{{hostname}}#/login">login</a></h2>
                       </div>
                   </div>
               </div>
           </div>
       </div>    
   </div>
</form>
</body>