<!DOCTYPE html>
<title>Create New Buy Interest</title>
<body> 
<form name="createNewBuyInterest" ng-submit="submit()">
	<div class="container-fluid pad-right-left-buy">
		<div class="form-group col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
		    <div class="form-group col-sm-11 col-xs-11">
				<div class="col-sm-11 col-sm-offset-1 col-xs-10"> <h4 class="nomartop"><a>Matches > New alert</a></div>
			</div>
			<div class="form-group col-sm-11 col-xs-11">
				<div class="col-sm-11 col-sm-offset-1 col-xs-10"> <h4 class="nomartop">Marketplace alerts are collections of information used to match you with opportunities in the marketplace. Fill out your purchasing preferences below to get started!</h4></div>
			</div>
			
			<div class="col-sm-4 col-sm-offset-8 col-xs-12 f18 " style="padding-left:50px">
                <a ><span class="fa fa-plus-circle f18"></span><strong class="f16"  ng-click="addform()">Create new</strong></a>
            </div>
			<div id="dynamicInput"> </div> 
			 <div class="form-group col-sm-11 col-xs-11 ">
			    <div class="col-sm-11 col-xs-11">
					<div class="col-sm-1 text-right txt_res">
						<label class="f18 contol-label"><strong>1</strong></label>
					</div>
					<div class=" col-sm-11 col-xs-11 col-xs-offset-1 col-sm-offset-0 ">
						<div class="col-sm-3 ">
							<label class="f18"><b>Alert name</b></label>
						</div>
						<div class="col-sm-4">
							<input type="text" name="alertName" ng-model="json.alertName" class="form-control input-md" ng-minlength="4" ng-maxlength="20" ng-change="alertnamef()" required >
							<span class="err_style" ng-show="createNewBuyInterest.alertName.$error.required && createNewBuyInterest.alertName.$dirty">Enter Alert Name.</span>
							<span class="err_style" ng-show="createNewBuyInterest.alertName.$error.minlength">Alert Name is to short.</span>
							<span class="err_style" ng-show="createNewBuyInterest.alertName.$error.maxlength">Alert Name is to long.</span> 
						</div>
					</div>
                </div>
			</div>
			<div class="form-group col-sm-11 col-xs-11  col-sm-offset-0 ">
                <div class="col-sm-11 col-xs-11">
					<div class="col-sm-1 text-right txt_res">
						<label class="f18 contol-label"><strong>2</strong></label>
					</div>
					<div class="col-sm-11 col-xs-11 col-xs-offset-1 col-sm-offset-0 ">
						<div class="col-sm-12">
							<label class="f18"><b>I'm interested in</b></label>
						</div>
					</div>
				</div>   
            </div>
			<div class="col-sm-11 col-xs-11 col-xs-offset-1 col-sm-offset-1 ">
                <div class=" col-sm-6">
					<div class="btn-group " data-toggle="buttons">
						<label class="btn btn-default active "id="buy"  ng-click="transactionType('buy')">
							<input type="radio"  autocomplete="off " checked ng-model = "values.userinterestsbuying" name="FreeForm "  value = "Yes" >Buying
						</label>
						<label class="btn btn-default"  id="sell" ng-click="transactionType('sell')">
							<input type="radio"  autocomplete="off " ng-model = "values.userinterestsselling" name="FreeForm "  value = "No" >Selling
						</label>
					</div>
				</div>
            </div>
			<div class="form-group col-sm-11 col-xs-11 " style="margin-bottom:0px; margin-top:10px;">
			  <div class="col-sm-11 col-xs-11">
					<div class="col-sm-1 text-right txt_res">
						<label class="f18 contol-label"><strong>3</strong></label>
					</div>
					<div class=" col-sm-11 col-xs-11 col-xs-offset-1 col-sm-offset-0 " >
						<div class="col-sm-12 ">
							<label class="f18"><b>Purchasing Preferences</b></label>  
						</div>
					</div>
				</div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 ">
                <div class="form-group col-xs-12 col-sm-10 border_pack col-sm-offset-1" style="margin-top:0px">
                    <div class=" col-xs-12 col-sm-12 f14">
					<div class="form-group col-xs-12 col-sm-12">
					<label class="f16">Components</label>
				</div>
				<div class=" col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
						<input	id="ComponentsSelectAll" class="checkboxsize" ng-model="json.createalertName.ComponentsSelect.All" ng-true-value="Case,Projectile,Gunpowder,Primer" ng-false-value=""   ng-change="ComponentsSelect()" type="checkbox" value="ComponentsSelectedall"/>
					
						<label class="f14">Select All </label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
						<input	class="ComponentsSelect checkboxsize" name="case" ng-model="json.createalertName.ComponentsSelect.Case" ng-true-value="Case"  ng-false-value="" ng-change="ComponentsSelectcase()" type="checkbox" />
						<label class="f14">Case  </label>
					</div>
					<div class="col-sm-3">
							<input 	class="ComponentsSelect checkboxsize"  ng-model="json.createalertName.ComponentsSelect.Projectile" ng-true-value="Projectile"  ng-false-value="" ng-change="ComponentsSelectProjectile()" type="checkbox" checked="Projectile" value="Projectile"/>
					
						<label class="f14">Projectile  </label>
					</div>
					<div class="col-sm-3">
							<input 	class="ComponentsSelect checkboxsize" ng-model="json.createalertName.ComponentsSelect.Gunpowder" ng-true-value="Gunpowder "  ng-false-value="" ng-change="ComponentsSelectGunpowder()" type="checkbox" checked="Gunpowder" value="Gunpowder"/>
				
						<label class="f14">Gunpowder </label>
					</div>
					<div class="col-sm-3">
							<input class="ComponentsSelect checkboxsize" ng-model="json.createalertName.ComponentsSelect.Primer" ng-true-value="Primer"  ng-false-value="" ng-change="ComponentsSelectPrimer()" checked="primer" type="checkbox" value="Primer"/>
					
						<label class="f14">Primer </label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<label class="f16">Ammo Types</label>
				</div>
				<div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
							<input id="AmmoTypesSelectAll"	class="checkboxsize" ng-model="json.createalertName.AmmoTypesSelectAll" ng-true-value="Handgun,Shotgun,Rifle,Rimfire"  ng-false-value=""  ng-change="AmmoSelect()"   type="checkbox" value=""/>
					<label class="f14">Select All </label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
							<input	class="AmmoTypesSelect checkboxsize" ng-model="json.createalertName.AmmoTypesSelect.Handgun" ng-true-value="Handgun"  ng-false-value="" ng-change="AmmoSelectHandgun()"  type="checkbox" value=""/>
					 
						<label class="f14">Handgun </label>
					</div>
					<div class="col-sm-3">
							<input	class="AmmoTypesSelect checkboxsize"  ng-model="json.createalertName.AmmoTypesSelect.Shotgun" ng-true-value="Shotgun"  ng-false-value="" ng-change="AmmoSelectShotgun()"  type="checkbox" value=""/>
					 
						<label class="f14">Shotgun  </label>
					</div>
					<div class="col-sm-3">
							<input	class="AmmoTypesSelect checkboxsize" ng-model="json.createalertName.AmmoTypesSelect.Rifle" ng-true-value="Rifle"  ng-false-value="" ng-change="AmmoSelectRifle()"  type="checkbox" value=""/>
					 
						<label class="f14">Rifle </label>
					</div>
					<div class="col-sm-3">
							<input	class="AmmoTypesSelect checkboxsize" ng-model="json.createalertName.AmmoTypesSelect.Rimfire" ng-true-value="Rimfire"  ng-false-value=""  ng-change="AmmoSelectRimfire()"  type="checkbox" value=""/>
					 
						<label class="f14">Rimfire</label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<label class="f16">Brand</label>
				</div>
				<div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
							<input id="BrandSelectAll"	class="checkboxsize" ng-model="json.createalertName.BrandSelectAll " ng-true-value="Winchester,Remington,Federal,Fiocchi"  ng-false-value=""  ng-change="BrandSelect()"   type="checkbox" value=""/>
					<label class="f14">Select All </label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
							<input	class="BrandSelect checkboxsize" ng-model="json.createalertName.BrandSelect.Winchester" ng-true-value="Winchester"  ng-false-value=""  ng-change=" BrandSelectWinchester()" type="checkbox" value=""/>
					 
						<label class="f14">Winchester  </label>
					</div>
					<div class="col-sm-3">
							<input	class="BrandSelect checkboxsize" ng-model="json.createalertName.BrandSelect.Remington" ng-true-value="Remington"  ng-false-value=""  ng-change="BrandSelectRemington()" type="checkbox" value=""/>
					 
						<label class="f14">Remington </label>
					</div>
					<div class="col-sm-3">
							<input	class="BrandSelect checkboxsize" ng-model="json.createalertName.BrandSelect.Federal" ng-true-value="Federal"  ng-false-value="" ng-change="BrandSelectFederal()"   type="checkbox" value=""/>
					 
						<label class="f14">Federal </label>
					</div>
					<div class="col-sm-3">
							<input	class=" BrandSelect checkboxsize" ng-model="json.createalertName.BrandSelect.Fiocchi" ng-true-value="Fiocchi"  ng-false-value=""  ng-change="BrandSelectFiocchi()" type="checkbox" value=""/>
					 
						<label class="f14">Fiocchi </label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<label class="f16">Trade Partners</label>
				</div>
				<div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
							<input id="TradePartnersSelectAll"	class="checkboxsize" ng-model="json.createalertName.TradePartnersSelectAll" ng-true-value="US Government,International,US Government,International"  ng-false-value="" ng-change="TradePartnerSelect()" type="checkbox" value=""/>
					<label class="f14">Select All </label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
							<input	class="TradePartnersSelect checkboxsize"  ng-model="json.createalertName.TradePartnersSelect.US_Government " ng-true-value="US Government"  ng-false-value="" ng-change="TradePartnerSelectUS_Government()" type="checkbox" value=""/>
					 
						<label class="f14">US Government   </label>
					</div>
					<div class="col-sm-3">
							<input	class="TradePartnersSelect checkboxsize" ng-model="json.createalertName.TradePartnersSelect.International" ng-true-value="International"  ng-false-value="" ng-change="TradePartnerSelectInternational()"   type="checkbox" value=""/>
					 
						<label class="f14">International </label>
					</div>
					<div class="col-sm-3">
							<input	class="TradePartnersSelect checkboxsize" ng-model="json.createalertName.TradePartnersSelect.US_Government_1"  ng-true-value="US Government"  ng-false-value="" ng-change="TradePartnerSelectUS_Government_1()"  type="checkbox" value=""/>
					 
						<label class="f14">US Government-1</label>
					</div>
					<div class="col-sm-3">
							<input	class="TradePartnersSelect checkboxsize" ng-model="json.createalertName.TradePartnersSelect.International_1"  ng-true-value="International"  ng-false-value="" ng-change="TradePartnerSelectInternational_1()"  type="checkbox" value=""/>
					 
						<label class="f14">International-1</label>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<label class="f16">Terms of Sale</label>
				</div>
				<!-- <div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
							<input id="TermsofSaleSelectAll" ng-model="json.createalertName.TermsofSaleSelectAll" ng-true-value="Immediate,Within_30_Days,_30_Days_or_More"  ng-false-value="" ng-change="TermsofsaleSelect()" 	class="checkboxsize"   type="checkbox" value=""/>
					
						<label class="f14">Select All </label>
					</div>
				</div> -->
				<div class="form-group col-xs-12 col-sm-12 f14 pad_left cus_bdr_radius">
					<div class="col-sm-3">
							<input	class="TermsofSaleSelect checkboxsize" ng-model="json.createalertName.TermsofSaleSelect.Immediate" ng-true-value="Immediate"  ng-false-value="" ng-change="TermsofsaleSelectImmediate()"  type="checkbox" value=""/>
					 
						<label class="f14">Immediate  </label>
					</div>
					<div class="col-sm-3">
							<input	class="TermsofSaleSelect checkboxsize" ng-model="json.createalertName.TermsofSaleSelect.Within_30_Days" ng-true-value="Within 30 Days"  ng-false-value=""  ng-change="TermsofsaleSelectWithin_30_Days()"  type="checkbox" value=""/>
					 
						<label class="f14"> Within 30 Days</label>
					</div>
					<div class="col-sm-3">
							<input	class="TermsofSaleSelect checkboxsize" ng-model="json.createalertName.TermsofSaleSelect._30_Days_or_More" ng-true-value="30 Days or More"  ng-false-value="" ng-change="TermsofsaleSelect_30_Days_or_More()"  type="checkbox" value=""/>
					 
						<label class="f14"> 30 Days or More </label>
					</div>
				</div>
                        <!-- <div class="form-group col-xs-12 col-sm-12">
                            <label class="f16"><b>Components</b></label>
                        </div>
                        <div class=" col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input   id="createNewBuyInterestPurchasingPreferencesComponentsSelectAll" ng-change="selectAll_type('PurCompType')" ng-model="values.createNewBuyInterestPurchasingPreferencesComponentsSelectAll" class="checkboxsize" type="checkbox" value="ComponentsSelectedall">
                                <label >Select all </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesComponentsCase" ng-model="values.createNewBuyInterestPurchasingPreferencesComponentsCase" class="ComponentsSelect checkboxsize" type="checkbox"  ng-checked="values.createNewBuyInterestPurchasingPreferencesComponentsSelectAll" >
                                <label >Case  </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesComponentsProjectile" ng-model="values.createNewBuyInterestPurchasingPreferencesComponentsProjectile"    class="ComponentsSelect checkboxsize" type="checkbox" value="Projectile"   ng-checked="values.createNewBuyInterestPurchasingPreferencesComponentsSelectAll">
                                <label >Projectile  </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesComponentsGunpowder" ng-model="values.createNewBuyInterestPurchasingPreferencesComponentsGunpowder"  class="ComponentsSelect checkboxsize"  type="checkbox"  value="Gunpowder"   ng-checked="values.createNewBuyInterestPurchasingPreferencesComponentsSelectAll">
                                <label >Gunpowder </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesComponentsGunpowderPrimer" ng-model="values.createNewBuyInterestPurchasingPreferencesComponentsPrimer" class="ComponentsSelect checkboxsize" type="checkbox" value="Primer"   ng-checked="values.createNewBuyInterestPurchasingPreferencesComponentsSelectAll">
                                <label >Primer </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="f16"><b>Ammo types</b></label>
                        </div>
                        <div class=" col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesAmmoTypeSelectAll" ng-change="selectAll_type('PurAmmoType')" ng-model="values.createNewBuyInterestPurchasingPreferencesAmmoTypeSelectAll" class="checkboxsize"type="checkbox" value=""/>
                                <label >Select all </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesAmmoTypeHandgun" ng-model="values.createNewBuyInterestPurchasingPreferencesAmmoTypeHandgun"  class="AmmoTypesSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesAmmoTypeSelectAll">
                                <label >Handgun </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesAmmoTypeShotgun" ng-model="values.createNewBuyInterestPurchasingPreferencesAmmoTypeShotgun"  class="AmmoTypesSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesAmmoTypeSelectAll">
                                <label >Shotgun  </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesAmmoTypeRifle" ng-model="values.createNewBuyInterestPurchasingPreferencesAmmoTypeRifle"  class="AmmoTypesSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesAmmoTypeSelectAll">
                                <label >Rifle </label>
                            </div>
                            <div class="col-sm-3">
                                <input   id="createNewBuyInterestPurchasingPreferencesAmmoTypeRimfire" ng-model="values.createNewBuyInterestPurchasingPreferencesAmmoTypeRimfire" class="AmmoTypesSelect checkboxsize"  type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesAmmoTypeSelectAll">
                                <label >Rimfire</label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="f16"><b>Brand</b></label>
                        </div>
                        <div class=" col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesBrandSelectAll" ng-change="selectAll_type('PurBrand')"   ng-model="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll"  class="checkboxsize"  type="checkbox" value=""/>
                            <label >Select all </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input   id="createNewBuyInterestPurchasingPreferencesBrandWinchester" ng-model="values.createNewBuyInterestPurchasingPreferencesBrandWinchester" class="BrandSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll" >
                                <label >Winchester  </label>
                            </div>
                            <div class="col-sm-3">
                                <input   id="createNewBuyInterestPurchasingPreferencesBrandRemington" ng-model="values.createNewBuyInterestPurchasingPreferencesBrandRemington"  class="BrandSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll">
                                <label >Remington </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesBrandFederal" ng-model="values.createNewBuyInterestPurchasingPreferencesBrandFederal"    class="BrandSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll">
                                <label >Federal </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesBrandFiocchi" ng-model="values.createNewBuyInterestPurchasingPreferencesBrandFiocchi"    class=" BrandSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll">
                                <label >Fiocchi </label>
                            </div>
                        </div>
						<div class=" col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input   id="createNewBuyInterestPurchasingPreferencesBrandWinchesterTwo" ng-model="values.createNewBuyInterestPurchasingPreferencesBrandWinchesterTwo" class="BrandSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll" >
                                <label >Hornaday  </label>
                            </div>
                            <div class="col-sm-3">
                                <input   id="createNewBuyInterestPurchasingPreferencesBrandRemingtonTwo" ng-model="values.createNewBuyInterestPurchasingPreferencesBrandRemingtonTwo"  class="BrandSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll">
                                <label >Remington </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesBrandFederalTwo" ng-model="values.createNewBuyInterestPurchasingPreferencesBrandFederalTwo"    class="BrandSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll">
                                <label >Federal </label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesBrandFiocchiTwo" ng-model="values.createNewBuyInterestPurchasingPreferencesBrandFiocchiTwo"    class=" BrandSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesBrandSelectAll">
                                <label >Fiocchi </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="f16"><b>Trade partners</b></label>
                        </div>
                        <div class=" col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesTradePartnersSelectAll" ng-change="selectAll_type('PurTradePart')"   ng-model="values.createNewBuyInterestPurchasingPreferencesTradePartnersSelectAll" class="checkboxsize" type="checkbox" value=""/>
                                <label >Select all </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesTradePartnersUsGovernment" ng-model="values.createNewBuyInterestPurchasingPreferencesTradePartnersUsGovernment"  class="TradePartnersSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesTradePartnersSelectAll">
                                <label >US Government   </label>
                            </div>
                            <div class="col-sm-4">
                                <input id="createNewBuyInterestPurchasingPreferencesTradePartnersInternational" ng-model="values.createNewBuyInterestPurchasingPreferencesTradePartnersInternational"    class="TradePartnersSelect checkboxsize"type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesTradePartnersSelectAll">
                                <label >International Government </label>
                            </div>
                        </div>
						 <div class=" col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesTradePartnersUsCommercial" ng-model="values.createNewBuyInterestPurchasingPreferencesTradePartnersUsCommercial"  class="TradePartnersSelect checkboxsize" type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesTradePartnersSelectAll">
                                <label >US Commercial   </label>
                            </div>
                            <div class="col-sm-4">
                                <input id="createNewBuyInterestPurchasingPreferencesTradePartnersInternationalCommercial" ng-model="values.createNewBuyInterestPurchasingPreferencesTradePartnersInternationalCommercial"    class="TradePartnersSelect checkboxsize"type="checkbox" value="" ng-checked="values.createNewBuyInterestPurchasingPreferencesTradePartnersSelectAll">
                                <label >International Commercial </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label class="f16"><b>Terms of sale</b></label>
                        </div>
                        <div class=" col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                            <input id="createNewBuyInterestPurchasingPreferencesTermsOfSaleSelectAll" ng-model="values.createNewBuyInterestPurchasingPreferencesTermsOfSaleSelectAll" ng-change="selectAll_type('PurTimeOfSale')"  class="checkboxsize" type="checkbox" value="" />
                            <label>Select all </label>
                        </div>
                    </div>
                        <div class="form-group col-xs-12 col-sm-12 f14  ">
                            <div class="col-sm-3">
                                <input  id="createNewBuyInterestPurchasingPreferencesTermsOfSaleImmediate" ng-model="values.createNewBuyInterestPurchasingPreferencesTermsOfSaleImmediate"   class="TermsofSaleSelect checkboxsize" type="checkbox" value=""/>
                                <label>Immediate</label>
                            </div>
                            <div class="col-sm-3">
                                <input id="createNewBuyInterestPurchasingPreferencesTermsOfSaleWithinThirtyDays" ng-model="values.createNewBuyInterestPurchasingPreferencesTermsOfSaleWithinThirtyDays"  class="TermsofSaleSelect checkboxsize" type="checkbox" value=""/>
                                <label >Less than 30 days</label>
                            </div>
                            <div class="col-sm-4">
                                <input id="createNewBuyInterestPurchasingPreferencesTermsOfSaleThirtyDaysOrMore" ng-model="values.createNewBuyInterestPurchasingPreferencesTermsOfSaleThirtyDaysOrMore"  class="TermsofSaleSelect checkboxsize" type="checkbox" value=""/>
                                <label>Greater than 30 days</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
			<div class="form-group col-xs-12 col-sm-6 col-sm-offset-2" >
				<div class="form-group col-xs-6 col-sm-4 col-sm-offset-4">
					<a class="btn btn-default btn-sm center-block img-wid-buy" id="createNewBuyInterestCancel" ng-model="values.createNewBuyInterestCancel" href="{{hostname}}#/buyingOpportunities_Matches">Cancel </a>
				</div>
				<div class="form-group col-xs-6 col-sm-4">
					<a class="btn btn-info btn-sm center-block img-wid-buy"  id="createNewBuyInterestCreateAlert" ng-model="values.createNewBuyInterestCreateAlert" data-toggle="modal" data-target="#myModal_alert_buy" ng-click="save_local()"  >Create Alert</a>
				</div>
			</div>	
			<!-- <div id="dynamicInput"> </div> -->
			<!-- <div class="form-group col-xs-6 col-sm-4"> -->
					<!-- <a class="btn btn-info btn-sm center-block img-wid-buy" id="createNewBuyInterestNext" ng-model="values.createNewBuyInterestNext" ng-click="addform()" >Add Next</a> -->
			<!-- </div> -->
		</div>
	</div>


    <div class="modal fade" id="myModal_alert_buy" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <h3 class="text-center">
                        <strong>New buy interest creation successful.</strong>
                    </h3>
                    <br/>
                    <div class="fa fa-check col-sm-12 text-center off_butn_mar_pad" style="font-size:50px;color:rgb(25, 211, 25);text-align:text-center"></div>
                    <br/>
                    <h4 class="text-center ">
                        <strong>Your Alert name: {{json.alertName}}</strong>
                    </h4>

                </div>
                <div class="modal-footer">
                    <div class=" form-group col-xs-12 col-sm-12">
                        <div class="col-sm-4 col-xs-6">
                            <a style="text-decoration:none;" data-dismiss="modal" id="term_cancel" class="btn btn-default btn-md center-block" href="{{hostname}}#/accountCreationContact">DECLINE</a>
                        </div>
                        <div class="col-sm-4 col-xs-6 col-sm-offset-4">
                            <a style="width:100%" ng-click="buy_match()" data-dismiss="modal" ng-disabled="accountCreationWallet.$invalid" id="agreeTerms2" class="btn btn-info btn-md center-block"
                            >AGREE</a>
                            <!-- <a style = "text-decoration:none;"  class="btn btn-info btn-md center-block" href="{{hostname}}#/accountPage" data-dismiss="modal">AGREE</a>  -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>






</form>
</body>